<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.et.mapper.EtClientMapper">

    <select id="selectPage" resultType="org.jeecg.modules.et.entity.EtClient">
        SELECT ec.*
              ,ps.platform_site_name
              ,ps.platform_site
              ,ps.platform_site_type
        FROM et_client ec
        left join et_platform_site_code ps
        on ec.platform_site_code_id = ps.id
        ${ew.customSqlSegment}
    </select>
</mapper>