<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.et.mapper.EtClientMapper">

    <select id="selectPage" resultType="org.jeecg.modules.et.entity.EtClient">
        SELECT *
             ,ps.*
        FROM et_client ec
        left join et_platform_site_code ps
        on ec.platform_site_code_id = ps.id
        where 1 = 1
        <if test="ew != ">
            and ps.id in
            <foreach collection="selectionList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>